<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- This permission is required to be able access the Glyph Matrix -->
    <uses-permission android:name="com.nothing.ketchum.permission.ENABLE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NothingAndroidSDKDemo">

        <!-- Nothing API Key -->
        <meta-data
            android:name="NothingKey"
            android:value="test" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NothingAndroidSDKDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Basic Demo Service -->
        <service
            android:name=".demos.basic.BasicDemoService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>

            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name_basic" />
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/basic_thumbnail" />
            <meta-data
                android:name="com.nothing.glyph.toy.summary"
                android:resource="@string/toy_summary_basic" />
            <meta-data
                android:name="com.nothing.glyph.toy.longpress"
                android:value="1" />
        </service>

        <!-- Animation Demo Service -->
        <service
            android:name=".demos.animation.AnimationDemoService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>

            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name_animation" />
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/animation_thumbnail" />
            <meta-data
                android:name="com.nothing.glyph.toy.summary"
                android:resource="@string/toy_summary_animation" />
            <meta-data
                android:name="com.nothing.glyph.toy.longpress"
                android:value="1" />
        </service>

        <!-- Glyph Button Demo Service -->
        <service
            android:name=".demos.glyphbutton.GlyphButtonDemoService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>

            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name_glyph_button" />
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/glyphbutton_numbnail" />
            <meta-data
                android:name="com.nothing.glyph.toy.summary"
                android:resource="@string/toy_summary_glyph_button" />
            <meta-data
                android:name="com.nothing.glyph.toy.longpress"
                android:value="1" />
        </service>

        <!-- Glyph Pong / Brick Breaker Game Service -->
        <service
            android:name=".demos.pong.GlyphPongService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>

            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name_pong" />
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/pong_thumbnail" />
            <meta-data
                android:name="com.nothing.glyph.toy.summary"
                android:resource="@string/toy_summary_pong" />
            <meta-data
                android:name="com.nothing.glyph.toy.longpress"
                android:value="1" />
        </service>

    </application>

</manifest>